.login{
  width: 400px;
  height: 900px;
  margin: 40px auto;
  text-align: center;
}


.input-box{
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 1px solid black;
  border: 1px solid lightgray;
}
.btn{
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 40px;
  width: 70%;
  font-size: large;
}
p{
  margin-bottom: 0;
  color: gray;
}
.underline{
  text-decoration: underline;
  color: rgb(69, 69, 69);
}
h1{
  font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Lemonada', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rosarivo', cursive;
font-size: 50px;
font-weight: bolder;
}

